server:
  port: 9001

spring:
  data:
    mongodb:
      host: 127.0.0.1
      port: 27017
      username: tech-trove-product
      password: B8czpu24
      database: product-db

  security:
    oauth2:
      resourceserver:
        jwt:
#          issuer-uri: "http://host.docker.internal:8080/realms/tech-trove-realm"
#          jwk-set-uri: "http://host.docker.internal:8080/realms/tech-trove-realm/protocol/openid-connect/certs"
          issuer-uri: "http://127.0.0.1:8080/realms/tech-trove-realm"
          jwk-set-uri: "http://127.0.0.1:8080/realms/tech-trove-realm/protocol/openid-connect/certs"

